<div class="">
  <%= form_tag("/pastquestions/#{@pastquestion.id}", method: :patch ) do %>
    <h3>
      編集する
    </h3>
    <input type="text" name="prefecture" value="<%= @pastquestion.prefecture %>" placeholder="都道府県">
    <textarea name="p_question" placeholder="text" rows="10" cols="30"><%= @pastquestion.p_question %></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>
