<div class="">
  <%= form_tag('/pastquestions', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <input type="text" name="prefecture" placeholder="都道府県">
    <textarea name="p_question" placeholder="text" rows="10" cols="30"></textarea>
    <input type="submit" value="SEND">
  <% end %>
</div>
